:root {
    :root {
        --primary-color: #003366; /* Deep navy blue */
        --secondary-color: #cacaca; /* Light gray */
        --background-color: #f7f7f7; /* Slightly off-white background */
    }

    /* /========== Font and typography ==========/ */
    --body-font: 'Roboto', sans-serif;
    --h1-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --tiny-font-size: .625rem;
}